/* ------------------------ */
/* modal back */
/* ------------------------ */
.glayLayer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: black;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

/* ------------------------ */
/* input Nomal/income */
/* ------------------------ */
#inputMsg {
    display: none;
    position: fixed;

    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -180px;
    background-color: #e6ecf0;
    height: 140px;
    width: 360px;
    padding: 40px 0px;
    border-radius: 10px;
    text-align: center;
}

/* ------------------------ */
/* input Nomal/income */
/* ------------------------ */
#inputNomal {
    display: none;
    position: fixed;
    overflow: scroll;

    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -300px;
    background-color: #e6ecf0;
    height: 480px;
    width: 600px;
    padding: 40px 0px;
    border-radius: 10px;
    text-align: center;
}

#inputNomal select {
    width: 180px;
}

div.inputNomalAsset,
div.inputNomalPl {
    text-align: center;
    margin-bottom: 20px;
}

/* 日付 */
div.inputNomalDate {
    margin-top: 10px;
}

div.inputNomalinputDate {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

/* 資産選択 */
div.inputNomalAssetCategory {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    font-size: medium;
}
div.inputNomalAssetKubun {
    display: inline-block;
}

div.inputNomalAssetCategory select,
div.inputNomalAssetKubun select {
    display: inline-block;
}

/* 費用選択 */
div.inputNomalPlCategory {
    display: inline-block;
    margin-bottom: 20px;
}

div.inputNomalPlCategory select {
    display: inline-block;
}

div.inputNomalExpenseCategory,
div.inputNomalIncomeCategory {
    display: inline-block;
    margin-right: 20px;
}

div.inputNomalPlKubun {
    display: inline-block;
}

/* 金額入力欄 */
div.inputNomalPrice {
    margin-bottom: 20px;
}

div.inputNomalinputPrice {
    display: inline-block;
    text-align: center;
}

/* コメント＋submitボタン 外枠 */
div.inputNomalLast {
    display: inline-block;
    text-align: center;
}

/* コメント＋submitボタン 内枠 */
div.inputNomalCommentSubmit {
    display: flex;
    text-align: center;
}

/* コメントラベル */
label.inputNomalCommentLabel {
    display: flex;
    align-items : flex-start;
    margin: 24px 5px 0 0;
}

/* コメント */
div.inputNomalinputComment {
    display: inline-block;
}

/* submitボタン */
div.inputNomalSubmit {
    display: flex;
    align-items: flex-end;
    margin: 0 0 10px 10px;
}

/* ------------------------ */
/* input account */
/* ------------------------ */
#inputAccount {
    display: none;
    position: fixed;
    overflow: scroll;

    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -360px;
    background-color: #e6ecf0;
    height: 480px;
    width: 720px;
    padding: 30px 20px 0 20px;
    border-radius: 10px;
    text-align: center;
}

/* 日付 */
div.inputAccountinputTop {
    display: inline-block;
    text-align: center;
}

/* selcetのサイズ */
#inputAccount select {
    width: 180px;
}

/* 日付・ボタンの枠 */
/* div.inputAccountDate {
    display: inline-block;
    text-align: center;
    margin: 10px 0;
} */

/* 日付 */
.inputAccountinputDate {
    display: inline-block;
}

/* 追加・削除ボタン */
.addBtn {
    display: inline-block;
}

/* 追加Button */
p.addDebit {
    display: inline-block;
}
p.addCredit {
    display: inline-block;
}

/* テーブルサイズ */
#inputAccountTabale td {
    border: 1px solid black;
    width: 680px;
}

/* タイトルレイアウト */
.accountTitle {
    text-align: center;
}
/* totalPrice */
.totalPrice {
    text-align: center;
}

/* 合計金額 */
.debitTotalPrice
.creditTotalPrice
 {
    margin: 5px 0 5px 20px;
}
.debitTotalPriceInput
.creditTotalPriceInput
{
    display: inline-block;
    width: 200px;
}

/* 借方レイアウト */
.inputAccountDebit {
    /* text-align: left; */
    text-align: center;
}

.inputAccountDebitCategory {
    margin: 5px 0 0 20px;
}
.inputAccountDebitCategory select {
    display: inline-block;
}
.inputAccountDebitKubun {
    margin: 5px 0 0 20px;
}
.inputAccountDebitKubun select {
    display: inline-block;
}

.inputAccountDebitPrice {
    margin: 5px 0 5px 20px;
}
.inputAccountDebitPriceInput {
    display: inline-block;
    width: 200px;
}

/* 貸方レイアウト */
.inputAccountCredit {
    /* text-align: left; */
    text-align: center;
}

.inputAccountCreditCategory {
    margin: 5px 0 0 20px;
}
.inputAccountCreditCategory select {
    display: inline-block;
}
.inputAccountCreditKubun {
    margin: 5px 0 0 20px;
}
.inputAccountCreditKubun select {
    display: inline-block;
}

.inputAccountCreditPrice {
    margin: 5px 0 5px 20px;
}
.inputAccountCreditPriceinput {
    display: inline-block;
    width: 200px;
}

/* ------------------------ */
/* account comment */
/* ------------------------ */
#inputAccountCommentTabale td {
    border: 1px solid black;
    border-top: none;
    width: 680px;
}
/* コメント 外枠 */
div.inputAccountComment {
    display: inline-block;
    text-align: center;
}

/* コメント 内枠 */
div.inputAccountCommentSubmit {
    display: flex;
    text-align: center;
}

/* コメントラベル */
label.inputAccountCommentLabel {
    display: flex;
    align-items : flex-start;
    margin: 24px 5px 0 0;
}
